<h1><%= @student.name %></h1>

<p><%= @student.academicyear %></p>

<ul>
  <li><%= link_to "Edit", edit_student_path(@student) %></li>
  <%= button_to 'Edit', edit_student_path(@student), :method => :get %>
  <%= button_to 'Delete Student', @student, method: :delete, data: { confirm: 'Are you sure?' } %>
</ul>